@import 'colours';

.arrow-body {
  z-index: 9999;
  background: 
    -webkit-linear-gradient(left, transparent, $action-aura 50%), -webkit-linear-gradient(left, transparent, transparent 40%, $action-aura 40%, $action-aura);
  background: 
    linear-gradient(to right, transparent, $action-aura 50%),
    linear-gradient(to right, transparent, transparent 40%, $action-aura 40%, $action-aura);
  background-size: 20px 100%, 50px 100%;
  background-position: 0 0, 0 0;
  background-repeat: no-repeat, repeat-x;
  width: 1px;
  height: 18px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: 0% 50%;
      -ms-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

.arrow-body:after {
  content: "";
  display: block;
  width: 24px;
  height: 48px;
  position: absolute;
  top: -15px;
  right: -10px;
  box-sizing: border-box;
  border-style: solid;
  border-top-width: 24px;
  border-bottom-width: 24px;
  border-left-width: 24px;
  border-right-width: 0px;
  border-left-color: $action-aura;
  border-top-color: transparent;
  border-bottom-color: transparent;
}