@import 'colours';

/***
	Cards in hand
	***/
.visible-hand .card.playable{
  box-shadow:
    0px 0px 9px 9px $playable-aura;
}
.visible-hand .card.playable:hover {
	box-shadow:
    0px 0px 9px 9px $playable-aura-highlight;
}

/****
  Opponent Hand
  ****/
.hidden-hand .card.opponent-hover {
  box-shadow:
    0px 0px 9px 9px $playable-aura-highlight;
}

/***
	My board
	***/
#my_board .card.playable {
  box-shadow:
    0px 9px 9px 5px $playable-aura,
    0px -9px 9px 5px $playable-aura;
}
#my_board .card.playable:hover {
  box-shadow:
    0px 9px 9px 5px $playable-aura-highlight,
    0px -9px 9px 5px $playable-aura-highlight;
}

#opponent_board .card.opponent-hover {
  box-shadow:
    0px 9px 9px 5px $playable-aura-highlight,
    0px -9px 9px 5px $playable-aura-highlight;
}

#opponent_board .card.targeting,
#my_board .card.targeting,
#my_board .card.start-attack,
#opponent_board .card.start-attack { // Needed for specificity rules
  box-shadow:
    0px 9px 9px 5px $action-aura,
    0px -9px 9px 5px $action-aura;
  cursor: crosshair;
}

#opponent_board .card.defensive.targeting { // Needed for specificity rules
  box-shadow:
    0px 32px 9px 5px $action-aura,
    0px -24px 9px 5px $action-aura;
  cursor: crosshair;
}

/***
	End Turn Button
	***/
.bg-button {
	background-color: $playable-aura;
	box-shadow:
    0px 0px 9px 7px $playable-aura;
}
.bg-button:hover {
  background-color: $playable-aura-highlight;
  box-shadow:
    0px 0px 9px 7px $playable-aura-highlight;
  cursor: pointer;
}

/***
	Spells
	***/
#my_spells .spell.playable {
  box-shadow:
    8px 0px 9px 5px $playable-aura,
    -9px 0px 9px 5px $playable-aura;
}
#my_spells .spell.playable:hover {
  box-shadow:
    8px 0px 9px 5px $playable-aura-highlight,
    -9px 0px 9px 5px $playable-aura-highlight;
}
#my_spells .spell.start-attack,
#opponent_spells .spell.start-attack {
  box-shadow:
    8px 0px 9px 5px $action-aura,
    -9px 0px 9px 5px $action-aura;
}
#opponent_spells .spell.opponent-hover {
  box-shadow:
    8px 0px 9px 5px $playable-aura-highlight,
    -9px 0px 9px 5px $playable-aura-highlight;
}