.board {
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
  width: 1028px;
  height: 622px;
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  padding: 96px 55px 116px 55px;
  background-image: url('/images/board_bg.png');
  background-size: 1028px 622px;
  background-repeat: no-repeat;
  background-color: #367b36;
  box-shadow: 0px 0px 100px 100px #367b36;
}