.health, .attack, .cost {
  position: absolute;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 120%;
}

.health {
  background-image: url('/images/health_bg.png');
  background-size: 40px 39px;
  width: 40px;
  height: 39px;
  color: rgb(60,0,0);
}

.cost {
  top: -2px;
  left: -4px;
  border: 5px solid #926f4d;
  background: #e0dec9;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all .25s ease;
  box-shadow: none;
}

.attack {
  background-image: url('/images/attack_bg.png');
  background-size: 47px 44px;
  width: 45px;
  height: 42px;
  color: #333;
  padding-bottom: 2px;
  padding-right: 2px;
}

.board-side .attack {
  bottom: -2px;
  left: 0px;
}

.board-side .health {
  bottom: 0px;
  right: 5px;
}