.health, .attack, .cost {
  position: absolute;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 160%;
  color: rgb(218, 216, 194);
  text-shadow: 1px 1px 0px rgb(121, 0, 0);
}

.health {
  background-image: url('/images/health_bg.png');
  background-size: 40px 39px;
  width: 40px;
  height: 39px;
}

.cost {
  top: -2px;
  left: -4px;
  border: 5px solid #926f4d;
  background: #e0dec9;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-transition: all .25s ease;
          transition: all .25s ease;
  box-shadow: none;
  color: #9C6340;
  text-shadow: 1px 1px 0px #D9BA36;
}

.attack {
  background-image: url('/images/attack_bg.png');
  background-size: 47px 44px;
  width: 45px;
  height: 42px;
  padding-bottom: 2px;
  padding-right: 2px;
}

.board-side .attack {
  bottom: -2px;
  left: 0px;
}

.board-side .health {
  bottom: 0px;
  right: 5px;
}