.deck {
  position: absolute;
}

.deck .card {
  width: 73px; height: 100px;
  margin-left: 0px;
}

.opponent-deck {
  left: 90px;
  top: -30px;
}

.my-deck {
  right: 90px;
  bottom: -30px;
}

.deck span {
  display: block;
  width: 65px;
  height: 40px;
  background-image: url('/images/button_bg.png');
  background-size: 65px 40px;
  line-height: 40px;
  font-family: 'Luckiest Guy', cursive;
  color: white;
  font-size: 140%;
  text-align: center;
  position: absolute;
  left: 7px;
  top: 59px;
}