.left-section {
	box-sizing: border-box;
	width: 65%;
	display: inline-block;
	vertical-align: top;
}

.right-section {
	box-sizing: border-box;
	width: 30%;
	display: inline-block;
	vertical-align: top;
}

.section-header {
	padding: 8px;
	background: #926F4D;
	color: white;
	font-size: 120%;
}

.left-section {
	& .btn-row {
		display: block;
		padding: 6px 25px;
		cursor: pointer;
		text-align: left;
		border-bottom: 1px solid #926f4d;
		border-right: 1px solid #926f4d;
		font-weight: bold;
		font-size: 110%;
		color: #5e452e;
		&:hover {
			background: #ffae3a;
		}
		& .cost-inline {
			display: inline-block;
			width: 25px;
			text-align: center;
			border: 1px solid #5e452e;
			text-decoration: none;
			border-radius: 5px;
			background: #fff;
		}
		& .card-name {
			padding-left: 4px;
			text-decoration: underline;
		}
	}
	& .info-row {
		display: block;
		padding: 6px 25px;
		border-bottom: 1px solid #926f4d;
		border-right: 1px solid #926f4d;
		text-align: left;
		background: #cfb990;
		color: #5e452e;
	}
	& .card-list-row {
		position: relative;
	}
}

.right-section {
	& .btn-row {
		position: relative;
		display: block;
		padding: 6px;
		cursor: pointer;
		text-align: left;
		border-bottom: 1px solid #926f4d;
		border-left: 1px solid #926f4d;
		font-weight: bold;
		font-size: 110%;
		color: #5e452e;
		&:hover {
			background: #ffae3a;
			& .count {
				background: #e0dec9;
			}
		}
		& .cost-inline {
			display: inline-block;
			float: right;
			width: 25px;
			text-align: center;
			border: 1px solid #5e452e;
			text-decoration: none;
			border-radius: 5px;
			background: #fff;
		}
		& .count {
			display: inline-block;
			width: 25px;
			text-align: center;
			border: 1px solid #5e452e;
			text-decoration: none;
			border-radius: 2px;
			background: #ffae3a;
		}
		& .card-name {
			padding-left: 4px;
			text-decoration: underline;
		}
	}
	& .info-row {
		display: block;
		padding: 6px 13px;
		border-bottom: 1px solid #926f4d;
		border-left: 1px solid #926f4d;
		text-align: left;
		background: #cfb990;
		color: #5e452e;
		&.danger {
			background: #F25F5F;
			color: #5e452e;
		}
	}
}

.plain-section {
	width: 95%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}