.hidden-hand {
  width: 90%;
  margin: 0 auto;
  height: 170px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.hidden-hand .cards {
  margin-left: 80px;
}

.hidden-hand .card {
  width:120px; height:164px;
  border-radius:50px 50px 0 0;
  text-align:center;
  position:relative;
  background: darkred;
  box-shadow:
    -2px 2px 1px rgba(0,0,0,0.3);
  border: 3px solid #fff;
  display:inline-block;
  margin-left: -80px;
}

.hidden-hand .card::before {
  content: "";
  display: block;
  width:120px; height:164px;
  border-radius:50px 50px 0 0;
  background: darkred;
  box-shadow:
     inset 0px 0px 50px rgba(0,0,0,0.4);
  display:inline-block;
}

.end-turn {
  position: absolute;
  top: 60px;
  width: 100%;
  text-align: center;
}
.end-turn-button {
  padding: 10px 20px;
  border-radius: 6px;
  box-shadow: 0 0 10px 10px white;
}