body, #main, html {
	height: 100%;
}

.page-container {
	vertical-align:top;
	width: 90%;
	max-width: 960px;
	margin: 0 auto;
	background: url('/images/page-bg.png');
	border: solid #926f4d;
	border-width: 0px 15px 0px 15px;
	min-height: 100%;
	box-shadow: 0px 0px 40px 0px #367b36;
	text-align: center;
	position: relative;
	padding-bottom: 60px;
	box-sizing: border-box;
}


/****
	Header
	****/
.img-header {
	background: #926f4d; // progressive enhancement
	background: linear-gradient(to bottom, #926f4d, #926f4d 80%, #b39c70 80%, #b39c70 85%, transparent 85%, transparent);
	margin-bottom: 10px;
	text-align: left;
}

.header-logo {
	margin-left: 30px;
}

.header-links {
	float: right;
	
}

.header-link {
	width: 240px;
	display: inline-block;
	border: 2px solid #ffdc3a;
	height: 50px;
	border-radius: 20px;
	font-size: 20px;
	line-height: 50px;
	text-align: right;
	padding-right: 20px;
	margin-right: 20px;
	text-decoration: none;
	color: white;
	transition: all .3s ease;
	position: relative;
	margin-top: 50px;
}

.header-link:hover {
	background-color: #ffdc3a;
	color: #926f4d;
}

.header-link.deck-editor::before {
	content: "";
	display: block;
	width: 129px;
	height: 140px;
	background: url('/images/deck_builder.png');
	position: absolute;
	left: -4px;
	bottom: -44px;
}

.header-link.home::before {
	content: "";
	display: block;
	width: 172px;
	height: 125px;
	background: url('/images/home_cave.png');
	position: absolute;
	left: 10px;
	bottom: -34px;
}

@media only screen and (max-width:959px) {
	.header-links {
		width: 270px;
	}
	.img-header .header-logo {
		margin-top: 100px;
	}
}

@media only screen and (max-width:631px) {
	.img-header .header-logo {
		margin-top: 10px;
	}
}


.category-header {
	color: #e0dec9;
	padding: 16px 13px 7px 13px;
	background: #926f4d;
	width: 95%;
	margin: 0 auto;
	box-sizing: border-box;
	text-align: left;
	& .header-aside {
		font-size: 80%;
	}
}

.category-container {
	padding: 10px;
	width: 95%;
	margin: 0 auto;
	text-align: center;
	box-sizing: border-box;
	border: 2px solid #b39c70;
	border-width: 0px 2px 2px 2px;
	border-bottom-color: #926f4d;
	margin-bottom: 20px;
	background: #cfb990;
	color: #5e452e;
	&.isolated {
		border-width: 2px;
	}
	&.btn-container {
		padding: 0;
	}
	& .btn-row {
		display: block;
		padding: 6px 25px;
		cursor: pointer;
		text-align: left;
		border-bottom: 1px solid #926f4d;
		text-decoration: underline;
		font-weight: bold;
		font-size: 110%;
		color: #5e452e;
		&:hover {
			background: #ffae3a;
		}
	}
	& .info-row {
		display: block;
		padding: 6px 25px;
		text-align: left;
		border-bottom: 1px solid #926f4d;
		color: #5e452e;
	}
}

.fixed-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.ready-status {
	display: inline-block;
	box-sizing: border-box;
	padding: 0px 25px;
	width: 50%;
	box-sizing: border-box;
	height: 40px;
	line-height: 40px;
	background: #b39c70;
	position: relative;
	border: solid #926f4d;
	& .name {
		display: block;
		line-height: 40px;
		font-size: 22px;
		color: white;
	}
	& .is-ready {
		display: block;
		position: absolute;
		top: 0;
		line-height: 40px;
		font-size: 70%;
		color: white;
		background: #FC5A3D;
		width: 110px;
		transition: background .3s ease;
		&.ready {
			background: rgb(89, 207, 49);
		}
	}
	& .ready-light {
		display: block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		position: absolute;
		top: 10px;
		background: red;
		border: 1px solid darken(red, 10%);
		box-shadow: inset 0 0 10px lighten(red, 40%);
		transition: all .3s ease;
		&.ready {
			background: lighten(green, 40%);
			border: 1px solid lighten(green, 10%);
			box-shadow: inset 0 0 10px lighten(green, 55%);
		}
	}
}

.my-ready-status {
	border-width: 0px 1px 0px 10px;
	& .name {
		text-align: left;
	}
	& .is-ready {
		right: 0px;
		text-align: right;
		padding-left: 10px;
		padding-right: 40px;
	}
	& .ready-light {
		right: 10px;
	}
}
.opponent-ready-status {
	border-width: 0px 10px 0px 1px;
	& .name {
		text-align: right;
	}
	& .is-ready {
		left: 0px;
		text-align: left;
		padding-left: 40px;
		padding-right: 10px;
	}
	& .ready-light {
		left: 10px;
	}
}

/*****
	Champions
	******/
.champion-face {
	position: relative;
  display: inline-block;
  padding: 2px;
  & .face-art {
  	opacity: 0.5;
  	width: 80px;
  	height: 80px;
  	border-top-left-radius: 30px 30px;
  	border-top-right-radius: 30px 30px;
	  border: 5px solid #67aa74;
	  box-shadow: 0 0 0 2px #509553;
	  transition: border-color .2s ease;
  }
  &.selected .face-art {
  	border-color: #fedc3a;
  	box-shadow: none;
  	opacity: 1;
  }
  & .health, & .attack {
  	position: static;
  	padding: 0;
  }
  & .stat {
  	width: 45px;
  	display: inline-block;
  }
}

.not-ready .champion-face {
	& .face-art {
		opacity: 1;
	}
	&:hover {
  	cursor: pointer;
  }
  &:hover .face-art {
  	border-color: #ffae3a;
  	box-shadow: none;
  }
}

/*****
	Spells
	******/
.spell-circle {
	position: relative;
  display: inline-block;
  padding: 2px;
  & .circle-art {
  	opacity: 0.5;
  	width: 80px;
  	height: 80px;
  	border-radius: 50%;
	  border: 5px solid #806a4b;
	  box-shadow: 0 0 0 2px #6a4b34;
	  transition: border-color .2s ease;
  }
  
  &.selected .circle-art {
  	opacity: 1;
  	border-color: #fedc3a;
  	box-shadow: none;
  }
  & .cost {
  	position: static;
  	padding: 0;
  }
  & .stat {
  	width: 45px;
  	display: inline-block;
  }
}

.not-ready .spell-circle {
	& .circle-art {
		opacity: 1;
	}
	&:hover {
  	cursor: pointer;
  }
  &:hover .circle-art {
  	border-color: #ffae3a;
  	box-shadow: none;
  }
}

/****
	Lobby timer
	****/
.timer {
	display: inline-block;
	&.lobby-timer {
		margin-left: 20px;
	}
	& .time {
		color: #FC5A3D;
		font-family: 'Luckiest Guy', cursive;
  	font-size: 160%;
	}
}


