.menu-container {
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  //display: flex;
  display: none; // we start the menu hidden; it will be shown with JS
  -webkit-box-align: center; // we start the menu hidden; it will be shown with JS
  -webkit-align-items: center; // we start the menu hidden; it will be shown with JS
      -ms-flex-align: center; // we start the menu hidden; it will be shown with JS
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background: rgba(0,0,0,0.2);
}

.menu {
  box-sizing: border-box;
  background-color: #d0ba91;
  padding: 10px;
  color: white;
  box-shadow:
    0 0 0 4px #926f4d,
    0 0 0 8px #ffdf3c,
    0 0 0 12px #926f4d;
  border: 4px solid #b39c70;
  border-radius: 20px;
  //width: 500px;
  //height: 400px;
}

.menu .user-info {
  float: right;
}

.menu a {
  color: #649dd6;
}

.menu a:hover {
  text-decoration: none;
}

.surrender-button {
  
}

.menu-row {
  margin: 30px 30px;
  text-align: center;
}

.bg-button {
  width: 122px;
  height: 74px;
  background-image: url('/images/button_bg.png');
  line-height: 74px;
  font-family: 'Luckiest Guy', cursive;
  color: white;
  font-size: 140%;
  border: none;
  padding: 0;
  border-top-left-radius: 50px 10px;
  border-top-right-radius: 50px 10px;
  border-bottom-left-radius: 50px 10px;
  border-bottom-right-radius: 50px 10px;
  -webkit-transition: all .3s;
          transition: all .3s;
}

.bg-menubtn {
  width: 73px;
  height: 71px;
  background-image: url('/images/menubtn_bg.png');
  line-height: 71px;
  border: none;
  padding: 0;
  border-radius: 5px;
  -webkit-transition: all .3s;
          transition: all .3s;
}

.menu-toggle {
  position: fixed;
  top: 20px;
  right: 25px;
}
