@import 'colours';

.health-down,
.attack-down {
	position: absolute;
  background-image: url('/images/number_down.png');
  width: 51px;
  height: 50px;
  animation: grow-fade-out 0.4s forwards;
  -webkit-animation: grow-fade-out 0.4s forwards;
}

.health-down {
	bottom: 30px;
  right: -4px;
}

.attack-down {
	bottom: 30px;
  left: -4px;
}

.health-up,
.attack-up {
	position: absolute;
  background-image: url('/images/number_up.png');
  width: 42px;
  height: 30px;
  animation: grow-fade-out 0.4s forwards;
  -webkit-animation: grow-fade-out 0.4s forwards;
}

.health-up {
	bottom: 30px;
  right: 4px;
}

.attack-up {
	bottom: 30px;
	left: 4px;
}

.amount {
	display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
	position: absolute;
	font-family: 'Luckiest Guy', cursive;
  font-size: 180%;
  //animation: amount-fade-up .4 forwards;
  //-webkit-animation: amount-fade-up .4s forwards;
}

.health-down .amount,
.attack-down .amount {
	top:0;
	left:0;
	width:85%;
	height:90%;
  color: $damage-color;
  text-shadow: 1px 1px 0px rgb(121, 0, 0);
}

.health-up .amount,
.attack-up .amount {
	top:0;
	left:0;
	width:97%;
	height:95%;
  color: $heal-color;
  text-shadow: 1px 1px 0px #196F01;
}

@keyframes amount-fade-up {
	40% {
		-webkit-transform: translateY(-5px);
		        transform: translateY(-5px);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(-30px);
		        transform: translateY(-30px);
		opacity: 0;
	}
}

@-webkit-keyframes amount-fade-up {
	40% {
		-webkit-transform: translateY(-5px);
		        transform: translateY(-5px);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(-30px);
		        transform: translateY(-30px);
		opacity: 0;
	}
}

@keyframes grow-fade-out {
	0% {
		-webkit-transform: none;
		        transform: none;
		opacity: 1;
	}
	10% {
		-webkit-transform: scale(1.2);
		        transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes grow-fade-out {
	0% {
		-webkit-transform: none;
		        transform: none;
		opacity: 1;
	}
	10% {
		-webkit-transform: scale(1.2);
		        transform: scale(1.2);
	}
	80% {
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
		opacity: 0;
	}
}