.my-spells {
  position: absolute;
  bottom: 72px;
  left: 7px;
  z-index: 1;
}

.opponent-spells {
  position: absolute;
  top: 68px;
  right: 0px;
}

.spell {
  width:100px; height:100px;
  border-radius:50%;
  text-align:center;
  position:relative;
  margin-top: 11px;
  transition: transform .3s ease;
}

.spell .cost {
  border-width: 2px;
}

.spell-border {
  position: absolute;
  top: -2px;
  left: -7px;
  width: 113px;
  height: 108px;
  background-image: url('/images/card_border.png');
  background-size: 113px 108px;
}

.my-spells .spell {
  cursor:pointer;
}

.spell-art {
  width:100px; height:100px;
  border-radius:50%;
}

#my_spells .spell.playable {
  box-shadow:
    0px 0px 9px 14px rgba(255,216,0,0.7);
}

#my_spells .spell.start-spell {
  box-shadow:
    0px 0px 9px 14px rgba(0,30,210, 0.8);
}