.my-spells {
  position: absolute;
  bottom: 16px;
  left: 114px;
}

.opponent-spells {
  position: absolute;
  top: -10px;
  right: 90px;
  z-index: 1;
}

.spell {
  width:100px; height:100px;
  border-radius:50%;
  text-align:center;
  position:relative;
  display:inline-block;
  margin: 0 5px;
  transition: transform .3s ease;
}

.spell .cost {
  border-width: 2px;
}

.spell-border {
  position: absolute;
  top: -2px;
  left: -7px;
  width: 113px;
  height: 108px;
  background-image: url('/images/card_border.png');
  background-size: 113px 108px;
}

.my-spells .spell {
  cursor:pointer;
}

.spell-art {
  width:100px; height:100px;
  border-radius:50%;
}