@import url(http://fonts.googleapis.com/css?family=Ubuntu|Lobster|Luckiest+Guy);

@import 'board';
@import 'boardSides';
@import 'cardStats';
@import 'visibleHand';
@import 'hiddenHand';
@import 'spells';
@import 'decks';
@import 'arrow';
@import 'bananas';
@import 'auras';
@import 'colours';
@import 'modifiers';
@import 'chat';
@import 'tooltip';
@import 'menu';
@import 'endGame';
@import 'lobby';
@import 'decksEditor';

.game {
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  margin-top: 120px;
}

.chat, .menu, .left-section, .right-section {
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background-color:#5dac5c;
  font-family: 'Ubuntu', sans-serif;
  font-size: 90%;
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}



#my_board .card {
  cursor:pointer;
}



.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.opponent-name {
  text-align: center;
  color: white;
  & h3 {
    padding: 14px;
    margin: 0;
  }
}

.timer.turn-indicator {
  position: absolute;
  right: 100px;
  top: -40px;
  color: white;
  font-size: 110%;
  text-align: center;
}

button {
  border: 1px solid #926F4D;
  background: #CFB990;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25);
  padding: 6px 10px;
  white-space: nowrap;
  vertical-align: middle;
  color: #926F4D;
  cursor: pointer;
  &:hover,
  &:focus {
    border-color: #5E452E;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 0 4px #926F4D;
  }
  &:active {
    border-color: #CFB990;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25);
  }
  &.danger {
    background: #F25F5F;
    color: #5E452E;
  }
}

input {
  box-sizing: border-box;
  border: 1px solid #926F4D;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px rgba(0,0,0,0.15);
  padding: 6px 10px;
  white-space: nowrap;
  vertical-align: middle;
  color: #926F4D;
  &.search {
    width:100%;
    padding-left: 30px;
  }
}

.search-box {
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 6px;
    top: 6px;
    background: url('/images/search.png');
    width: 19px;
    height: 17px;
  }
}