@import url(http://fonts.googleapis.com/css?family=Ubuntu|Lobster|Luckiest+Guy);

@import 'board';
@import 'boardSides';
@import 'cardStats';
@import 'visibleHand';
@import 'hiddenHand';
@import 'spells';
@import 'decks';
@import 'arrow';
@import 'bananas';
@import 'auras';
@import 'colours';
@import 'modifiers';
@import 'chat';
@import 'tooltip';
@import 'menu';
@import 'endGame';
@import 'lobby';

.game {
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  margin-top: 120px;
}

.chat, .menu {
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background-color:#5dac5c;
  font-family: 'Ubuntu', sans-serif;
  font-size: 90%;
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}



#my_board .card {
  cursor:pointer;
}



.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.opponent-name {
  text-align: center;
  color: white;
  & h3 {
    padding: 14px;
    margin: 0;
  }
}

.timer.turn-indicator {
  position: absolute;
  right: 100px;
  top: -40px;
  color: white;
  font-size: 110%;
  text-align: center;
}