@import url(http://fonts.googleapis.com/css?family=Ubuntu|Lobster);

.game {
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}

body {
  background-color:#6584a3;
  font-family: 'Ubuntu', sans-serif;
  font-size: 90%;
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.board-side .cards {
  padding: 12px 0px
}

.board {
  width: 90%;
  position: relative;
  margin: 0 auto;
  margin-top: -50px;
  padding: 0;
  background-color:white;
  background-image: linear-gradient(90deg, rgba(200,0,0,.25) 30%, transparent 30%),
  linear-gradient(rgba(200,0,0,.25) 30%, transparent 30%);
  background-size:30px 30px;
}
.board::after {
  display: block;
  content: "";
  width: 100%;
  margin-top: 20px;
  height: 100px;
  background-color: rgba(200,0,0,.25);
}

.board-side {
  text-align: center;
  height: 150px;
}

.card-art {
  width: 120px;
  height: 120px;
}

.board-side .card {
  width:120px; height:120px;
  border-radius:50%;
  text-align:center;
  position:relative;
  background:white;
  box-shadow:
    0px 2px 1px rgba(0,0,0,0.3);
  border: 3px solid #fff;
  display:inline-block;
  margin: 0 10px;
  transition: all .3s ease;
}

.board-side .card.animate {
  transform: translateY(-40px) scale(1.2)
}

.board-side .card.animate {
  opacity: 0;
}

.board-side .card.targeting {
  box-shadow:
    0px 0px 6px 8px rgba(0,30,210,0.5);
  cursor: crosshair;
}

#my_board .card {
  cursor:pointer;
}

.board-side .card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow:
        inset 0px -2px 45px rgba(0,0,0,0.1);
  transition: transform .3s ease;
}

.board-side .card-art {
  border-radius: 50%;
}

.health, .attack, .cost {
  position: absolute;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-weight: bold;
  font-size: 120%;
  background: white;
  border-radius: 50%;
  line-height: 30px;
  box-shadow:
    0px 2px 1px rgba(0,0,0,0.3);
}

.health {
  background: rgba(240,160,160,1);
  color: rgb(150,0,0);
  box-shadow:
        inset 0px 0px 10px rgba(250,0,0,0.4);
}

.cost {
  background: rgba(242,220,162,1);
  color: rgb(150,66,0);
  border: 3px solid #fff;
  box-shadow:
        inset 0px 0px 10px rgba(242,40,150,0.4);
}

.attack {
  color: #555;
}

.board-side .attack {
  bottom: 0px;
  left: 5px;
}

.board-side .health {
  bottom: 0px;
  right: 5px;
}


.visible-hand {
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-top: -30px;
  text-align: center;
}
.visible-hand .cards-4 {
  margin-left: 40px;
}
.visible-hand .cards-4 .card {
  margin-left: -40px;
}
.visible-hand .cards-5 {
  margin-left: 60px;
}
.visible-hand .cards-5 .card {
  margin-left: -60px;
}
.visible-hand .cards-6 {
  margin-left: 80px;
}
.visible-hand .cards-6 .card {
  margin-left: -80px;
}
.visible-hand .cards-7 {
  margin-left: 100px;
}
.visible-hand .cards-7 .card {
  margin-left: -100px;
}

.visible-hand .card-container {
  display:inline-block;
  transition: transform 1s cubic-bezier(1,0,.71,.24);
}

.visible-hand .card-container.animate {
  transform: translateY(-200px) translateX(80px) rotate(30deg) scale(1.2) 
}

.visible-hand .card {
  width:140px; height:204px;
  border-radius:60px 60px 0 0;
  text-align:center;
  position:relative;
  background:white;
  cursor:pointer;
  box-shadow:
    0px 2px 1px rgba(0,0,0,0.3);
  border: 3px solid #fff;
  transition: 
    all .25s ease;
}

.visible-hand .card:hover + .card {
  margin-left: 10px;
}
.visible-hand .card:hover {
  border-color: rgb(93,93,160);
  background: rgb(93,93,160);
  transform: translateY(-10px);
}
.visible-hand .card:hover .cost {
  border-color: rgb(93,93,160);
}

.visible-hand .card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all .3s ease;
}

.visible-hand .card-art {
  width: 140px;
  height: 140px;
  border-radius: 60px 60px 0 0;
}

.visible-hand .card .attack {
  top: 88px;
  left: 0px;
}

.visible-hand .health {
  top: 88px;
  right: 0px;
}

.cost {
  top: 4px;
  left: 0px;
  transition: all .5s ease;
}

.visible-hand .name {
  position: absolute;
  top: 120px;
  height: 20px;
  display: block;
  width: 100%;
  background: rgb(93,93,160);
  padding: 2px 0px;
  color: #eee;
  font-size: 90%;
  font-family: 'Lobster', cursive;
  line-height: 115%;
}

.visible-hand .description {
  position: absolute;
  top: 140px;
  height: 60px;
  font-size: 90%;
  display: block;
  width: 100%;
  background: rgb(184,190,219);
  padding: 2px 0px;
  color: #222;
}

.hidden-hand {
  width: 90%;
  margin: 0 auto;
  height: 170px;
  text-align: center;
}

.hidden-hand .cards {
  margin-left: 80px;
}

.hidden-hand .card {
  width:120px; height:164px;
  border-radius:50px 50px 0 0;
  text-align:center;
  position:relative;
  background: darkred;
  box-shadow:
    -2px 2px 1px rgba(0,0,0,0.3);
  border: 3px solid #fff;
  display:inline-block;
  margin-left: -80px;
}

.hidden-hand .card::before {
  content: "";
  display: block;
  width:120px; height:164px;
  border-radius:50px 50px 0 0;
  background: darkred;
  box-shadow:
     inset 0px 0px 50px rgba(0,0,0,0.4);
  display:inline-block;
}

.my-spells {
  position: absolute;
  bottom: -10px;
  left: 10px;
}

.opponent-spells {
  position: absolute;
  top: -100px;
  right: 10px;
}

.spell {
  width:120px; height:120px;
  border-radius:50%;
  text-align:center;
  position:relative;
  background:white;
  box-shadow:
    0px 0px 0px 4px rgb(93,93,160),
    0px 6px 1px rgba(0,0,0,0.3);
  border: 2px solid #fff;
  display:inline-block;
  margin: 0 5px;
  transition: transform .3s ease;
}

.spell .cost {
  border: 3px solid rgb(93,93,160);
}

.my-spells .spell {
  cursor:pointer;
}

.opponent-spells .spell {
  box-shadow:
    0px 0px 0px 4px darkred,
    0px 6px 1px rgba(0,0,0,0.3);
}

.opponent-spells .spell .cost {
  border: 3px solid darkred;
}

.spell-art {
  width:120px; height:120px;
  border-radius:50%;
}


.deck {
  width: 60px;
  position: absolute;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.opponent-deck {
  left: -50px;
  bottom: 6px;
  width:40px; height:60px;
  border-radius:15px 15px 0 0;
  text-align:center;
  background: darkred;
  box-shadow:
    -2px 2px 1px rgba(0,0,0,0.3);
  border: 3px solid #fff;
}

.my-deck {
  left: -50px;
  top: 6px;
  width:40px; height:60px;
  border-radius:0 0 15px 15px;
  text-align:center;
  background: darkblue;
  box-shadow:
    -2px 2px 1px rgba(0,0,0,0.3);
  border: 3px solid #fff;
}

.board-side {
  position: relative;
  margin-left: 60px;
  margin-right: 60px;
}

.top-menu {
  background-color: #0f2b47;
  padding: 10px;
  color: white;
  box-shadow:
    0px 2px 2px rgba(0,0,0,0.3);
  margin-bottom: 20px;
}

.top-menu .user-info {
  float: right;
}

.top-menu a {
  color: #649dd6;
}

.top-menu a:hover {
  text-decoration: none;
}

.end-turn {
  position: absolute;
  top: 100px;
  margin: 0 auto;
  width: 90%;
  text-align: center;
}
.end-turn-button {
  padding: 10px 20px;
  border-radius: 6px;
  box-shadow: 0 0 10px 10px white;
}

.start-attack {
  transform: translateY(-20px);
}

.arrow-body {
  z-index: 9999;
  background: 
    linear-gradient(to right, transparent, rgba(0,30,210, 0.8) 50%),
    linear-gradient(to right, transparent, transparent 40%, rgba(0,30,210, 0.8) 40%, rgba(0,30,210, 0.8));
  background-size: 20px 100%, 50px 100%;
  background-position: 0 0, 0 0;
  background-repeat: no-repeat, repeat-x;
  width: 1px;
  height: 18px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: 0% 50%;
}

.arrow-body:after {
  content: "";
  display: block;
  width: 24px;
  height: 48px;
  position: absolute;
  top: -15px;
  right: -10px;
  box-sizing: border-box;
  border-style: solid;
  border-top-width: 24px;
  border-bottom-width: 24px;
  border-left-width: 24px;
  border-right-width: 0px;
  border-left-color: rgba(0,30,210, 0.8);
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.flour-bar-container {
  position: absolute;
  right: 5px;
  bottom: 5px;
  text-align: center;
}

.flour-bar {
  position: absolute;
  top: -200px;
  right: 19px;
  height: 199px;
  border-radius: 5px;
  border: 2px solid black;
  width: 25px;
}

.flour-bar:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 5px;
  width: 100%;
  height: 40%;
  background: #b7894d;
}

.flour-bar:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(to bottom, rgba(255,255,255,0.4), rgba(255,255,255,0.3) 19px, black 19px, black);
  background-size: 1px 20px;
}